body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-header-logo {
  width: 100px;
  height: 100px;
}

#buttonLogin {
  height: 50px;
  width: 150px;
  margin: auto;
  margin-right: 10px;
  border-radius: 16px;
  border: none;
  padding: 10px;
  color: white;
  background-color: rebeccapurple;
}

.login-input {
  height: 32px;
  border-radius: 16px;
  border: none;
  margin-right: 10px;
  padding: 10px;
}

main{
    display: flex;
}

#evaluation-form{
    display: flex;
    width: 675px;
    flex-direction: column;
}

#trybewarts-forms-logo{
    height: 500px;
}

#div-name{
    display: flex;
}

#div-name #input-name{
    margin-right: 8px;
}

#div-email{
    display: flex;
}

#div-email #input-email{
    margin-right: 8px;
}

#submit-btn{
    background-color: rebeccapurple;
    color: white;
    border-radius: 16px;
}

#footer{
    color: white;
    position: fixed;
    bottom: 0;
    padding: 0 10px;
    width: 100%;
    background-color: gray;
}
